<div class="router-container">
    <div *ngIf="user">
        <div class="banner">
            <img class="banner-image" src="{{user.banner}}"/>
        </div>
        <app-user [user]="user"></app-user>
        <mat-divider></mat-divider>
        <div *ngFor="let post of posts">
            <app-post [post]="post"></app-post>
        </div>
        <div *ngIf="posts.length === 0 && loadingPosts">
            <app-loading></app-loading>
        </div>
        <div *ngIf="posts.length === 0 && !loadingPosts">
            <p>No posts</p>
        </div>
    </div>
    <div *ngIf="!user && loadingPosts">
        <app-loading></app-loading>
    </div>
    <div *ngIf="userNotFound">
        <mat-card>
            <mat-card-content>User Not Found</mat-card-content>
        </mat-card>
    </div>
</div>
