<div class="router-container">
    <div *ngIf="user">
        <app-user [user]="user"></app-user>
        <div *ngFor="let post of posts">
            <app-post [post]="post"></app-post>
        </div>
        <div *ngIf="posts.length === 0">
            <app-loading></app-loading>
        </div>
    </div>
    <div *ngIf="!user">
        <app-loading></app-loading>
    </div>
    <div *ngIf="userNotFound">
        <mat-card>
            <mat-card-content>User Not Found</mat-card-content>
        </mat-card>
    </div>
    
</div>
