<div class="router-container">
    <div *ngIf="user">
        <div class="banner">
            <img class="banner-image" src="{{user.banner}}"/>
        </div>
        <app-user [user]="user"></app-user>
        <mat-divider></mat-divider>
        <div
            *ngIf="posts"
            infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="500"
            (scrolled)="onScroll()"
            [scrollWindow]="true"
        >
            <mat-tab-group>
                <mat-tab label="Posts">
                    <div *ngFor="let post of posts">
                        <app-post *ngIf="!post.isAReply" [post]="post"></app-post>
                    </div>
                </mat-tab>
                <mat-tab label="Replies">
                    <div *ngFor="let post of posts">
                        <app-post *ngIf="post.isAReply" [post]="post"></app-post>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div *ngIf="loading">
            <app-loading></app-loading>
        </div>
        <div *ngIf="posts.length === 0 && !loading">
            <p>No posts</p>
        </div>
    </div>
    <div *ngIf="userNotFound">
        <mat-card>
            <mat-card-content>User Not Found</mat-card-content>
        </mat-card>
    </div>
</div>
