<div class="router-container">
    <div class="page-header">
        <h3>Edit Profile</h3>
        <small>(kind 0 nostr event)</small>
    </div>
    <div class="profile-edit-form-container">
        <form class="profile-edit-form" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username" formControlName="username">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Display Name</mat-label>
                <input matInput placeholder="Display Name" formControlName="displayName">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Website</mat-label>
                <input matInput placeholder="Website" formControlName="website">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>About</mat-label>
                <input matInput placeholder="About" formControlName="about">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Picture</mat-label>
                <input matInput placeholder="Picture" formControlName="picture">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Banner</mat-label>
                <input matInput placeholder="Banner" formControlName="banner">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>LNURL</mat-label>
                <input matInput placeholder="LNURL" formControlName="lud06">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Lightning Address</mat-label>
                <input matInput placeholder="LUD16" formControlName="lud16">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>NIP05</mat-label>
                <input matInput placeholder="NIP05" formControlName="nip05">
            </mat-form-field>
            <button [disabled]="!profileForm.valid" mat-fab extended color="primary" type="submit">Save</button>
        </form>
    </div>
</div>
