<div class="router-container">
    <div class="center-stuff">
        <p class="title-container">
            <small class="subtitle">Settings</small>
        </p>
        <p>
            <mat-divider></mat-divider>
        </p>
        <p>Log out and Clear User Data</p>
        <p>
            <button mat-fab extended color="accent" (click)="signOut()">Sign Out</button>
        </p>
        <p>
            <mat-divider></mat-divider>
        </p>
        <p>Nostr Wallet Connect</p>
        <p>
            <button mat-fab extended color="primary" (click)="nostrWalletConnect()">GetAlby</button>
        </p>
        <p>
            <mat-divider></mat-divider>
        </p>
        <p>Relays</p>
        <p>
            <mat-form-field *ngFor="let relay of relays; let i = index;" appearance="outline">
                <mat-label>{{relay}}</mat-label>
                <input matInput [(ngModel)]="relays[i]">
            </mat-form-field>
        </p>
        <p>
            <button mat-fab extended color="accent" (click)="saveRelays()">Save Relays</button>
        </p>
        <p>
            <mat-divider></mat-divider>
        </p>
        <p>Zaps</p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Default Zap Amount</mat-label>
                <input matInput [(ngModel)]="zap">
            </mat-form-field>
        </p>
        <p>
            <button mat-fab extended color="accent" (click)="setZap()">Set Default Zap</button>
        </p>
        <p>
            <mat-divider></mat-divider>
        </p>
        <p>Content Settings</p>
        <p>
            <span>Blur Images if not following user</span>
            <mat-checkbox class="example-margin" [(ngModel)]="blurChecked" (click)="setBlurImages()"></mat-checkbox>
        </p>
        <p>
            <mat-divider></mat-divider>
        </p>
        <p>Debug</p>
        <p>
            <button mat-fab extended color="primary" (click)="showDebug()">Show Debug Stuff</button>
        </p>
        <div *ngIf="showDebugUI">
            <div>
                <p>Profile Event</p>
                <pre>{{ debugProfileEvent | json}}</pre>
            </div>
            <div>
                <p>Following List Event</p>
                <pre>{{ debugFollowingList | json}}</pre>
            </div>
        </div>
    </div>
</div>
