<div class="router-container">
    <div class="center-stuff">
        <p class="title-container">
            <small class="subtitle">Settings</small>
        </p>
        <p>
            <button mat-fab extended color="accent" (click)="signOut()">Sign Out</button>
        </p>
        <p>
            <mat-divider></mat-divider>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Relay</mat-label>
                <input matInput [(ngModel)]="relay">
            </mat-form-field>
        </p>
        <p>
            <button mat-fab extended color="accent" (click)="saveRelay()">Save Relay</button>
        </p>
    </div>
</div>

