.center-stuff {
    text-align: center;
}

.title-container {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    margin-left: 1em;
    margin-right: 1em;
}
