<div *ngIf="showHeader">
    <div *ngIf="!smallScreen" class="header-container">
        <mat-toolbar color="primary" class="nav-bar">
            <mat-toolbar-row fxLayoutAlign='space-between center'>
                <div fxLayout="row">
                    <span class="title" routerLink="/feed">
                        {{ title }}
                    </span>
                </div>
                <div>
                    <button mat-icon-button routerLink="/feed">
                        <mat-icon [color]="currentRoute === 'feed' ? 'accent' : ''">{{ home_icon }}</mat-icon>
                    </button>
                    <button mat-icon-button routerLink="/search">
                        <mat-icon [color]="currentRoute === 'search' ? 'accent' : ''">{{ search_icon }}</mat-icon>
                    </button>
                    <button mat-icon-button routerLink='/zaps'>
                        <mat-icon [color]="currentRoute === 'zaps' ? 'accent' : ''">{{ zap_icon }}</mat-icon>
                    </button>
                    <button mat-icon-button routerLink="/trending">
                        <mat-icon [color]="currentRoute === 'trending' ? 'accent' : ''">{{ trending_icon }}</mat-icon>
                    </button>
                    <button mat-icon-button routerLink='/users'>
                        <mat-icon [color]="currentRoute === 'users' ? 'accent' : ''">{{ users_icon }}</mat-icon>
                    </button>
                    <button mat-icon-button routerLink="/messages">
                        <mat-icon [color]="currentRoute === 'messages' ? 'accent' : ''">{{ messages_icon }}</mat-icon>
                    </button>
                    <span *ngIf="notificationCount">
                        <button mat-icon-button routerLink='/notifications'>
                            <mat-icon [color]="currentRoute === 'notifications' ? 'accent' : ''">{{ notifications_icon }}</mat-icon>
                        </button>
                    </span>
                    <span *ngIf="notificationCount === 0">
                        <button mat-icon-button routerLink='/notifications'>
                            <mat-icon [color]="currentRoute === 'notifications' ? 'accent' : ''">{{ notifications_icon }}</mat-icon>
                        </button>
                    </span>
                    <button mat-icon-button routerLink="/wallet">
                        <mat-icon [color]="currentRoute === 'wallet' ? 'accent' : ''">currency_bitcoin</mat-icon>
                    </button>
                    <button mat-icon-button routerLink='/profile'>
                        <div *ngIf="userImage" class="header-user-image">
                            <img src="{{userImage}}" />
                        </div>
                        <mat-icon *ngIf="!userImage">{{ menu_icon }}</mat-icon>
                    </button>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <div *ngIf="smallScreen">
        <mat-toolbar color="primary" class="nav-bar">
            <mat-toolbar-row fxLayoutAlign='space-between center'>
                <div fxLayout="row">
                    <span class='title' routerLink='/feed'>
                        {{ title }}
                    </span>
                </div>
                <div>
                    <button mat-icon-button routerLink='/zaps'>
                        <mat-icon [color]="currentRoute === 'zaps' ? 'accent' : ''">{{ zap_icon }}</mat-icon>
                    </button>
                    <button mat-icon-button routerLink='/users'>
                        <mat-icon [color]="currentRoute === 'users' ? 'accent' : ''">{{ users_icon }}</mat-icon>
                    </button>
                    <button mat-icon-button routerLink='/messages'>
                        <mat-icon [color]="currentRoute === 'messages' ? 'accent' : ''">{{ messages_icon }}</mat-icon>
                    </button>
                    <span *ngIf="notificationCount">
                        <button mat-icon-button routerLink='/notifications'>
                            <mat-icon [color]="currentRoute === 'notifications' ? 'accent' : ''">{{ notifications_icon }}</mat-icon>
                        </button>
                    </span>
                    <span *ngIf="notificationCount === 0">
                        <button mat-icon-button routerLink='/notifications'>
                            <mat-icon [color]="currentRoute === 'notifications' ? 'accent' : ''">{{ notifications_icon }}</mat-icon>
                        </button>
                    </span>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-toolbar color="primary" class="footer-nav-bar">
            <mat-toolbar-row fxLayoutAlign='space-evenly center'>
                <button mat-icon-button routerLink='/feed'>
                    <mat-icon [color]="currentRoute === 'feed' ? 'accent' : ''">{{ home_icon }}</mat-icon>
                </button>
                <button mat-icon-button routerLink="/trending">
                    <mat-icon [color]="currentRoute === 'trending' ? 'accent' : ''">{{ trending_icon }}</mat-icon>
                </button>
                <button mat-icon-button routerLink="/search">
                    <mat-icon [color]="currentRoute === 'search' ? 'accent' : ''">{{ search_icon }}</mat-icon>
                </button>
                <button mat-icon-button routerLink="/wallet">
                    <mat-icon [color]="currentRoute === 'wallet' ? 'accent' : ''">currency_bitcoin</mat-icon>
                </button>
                <button mat-icon-button routerLink='/profile'>
                    <div *ngIf="userImage" class="header-user-image">
                        <img src="{{userImage}}" />
                    </div>
                    <mat-icon *ngIf="!userImage">{{ menu_icon }}</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
</div>
