
.header-image {
    background-size: cover;
    border: 1px solid #2196f3;
}

.npub {
    color: purple;
}

.npub:hover {
    cursor: pointer;
}

.nip15 {
    color: #2196f3;
}

.user-card {
    max-width: 500px;
    margin-bottom: 4px;
    overflow-wrap: break-word;
}