<mat-card class="user-card" *ngIf="user">
    <mat-card-header>
        <img 
            *ngIf="user.picture"
            class="header-image"
            routerLink="/users/{{user.pubkey|npub}}"
            mat-card-avatar
            src="{{user.picture}}"/>
      <mat-card-title routerLink="/users/{{user.pubkey|npub}}">{{user.displayName}}</mat-card-title>
      <mat-card-subtitle class="npub" (click)="copynpub()">
        {{user.npub|ellipsis}}
        <mat-icon [inline]="true">content_copy</mat-icon>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-card-subtitle>{{user.about}}</mat-card-subtitle>
        <mat-card-subtitle><a href="{{user.website}}" target="_blank">{{user.website}}</a></mat-card-subtitle>
        <mat-card-subtitle class="nip15">NIP05: {{user.nip05}}</mat-card-subtitle>
        <mat-card-subtitle>LUD: {{user.lud06}}</mat-card-subtitle>
    </mat-card-content>
    <mat-card-content *ngIf="canEdit">
        <button mat-stroked-button color="primary" routerLink="/profile-edit">Edit Profile</button>
    </mat-card-content>
    <mat-card-content *ngIf="nsec">
        <button mat-stroked-button color="accent" (click)="showNsec()">{{nsecButton}}</button>
    </mat-card-content>
    <mat-card-content *ngIf="displaynsec">
        <mat-card-subtitle>{{nsec}}</mat-card-subtitle>
    </mat-card-content>
    <app-follow [user]="user"></app-follow>
    <mat-card-content>
        <button mat-stroked-button routerLink="/users/{{user.npub}}/following">View who {{this.user.displayName}} is following</button>
    </mat-card-content>
</mat-card>
