<div class="router-container">
    <div *ngIf="loading">
        <app-loading></app-loading>
    </div>
    
    <div *ngIf="!loading">
        <mat-tab-group>
            <mat-tab label="Trending Posts (24h)">
                <div class="feed" *ngFor="let post of posts">
                    <app-post [post]="post"></app-post>
                </div>
            </mat-tab>
            <mat-tab label="Trending Profiles (24h)">
                <div class="users-container" *ngFor="let user of users">
                    <app-listed-user [user]="user" routerLink="/users/{{user.pubkey|npub}}"></app-listed-user>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
