<div class="router-container">
    <div class="chip-container">
        <mat-chip-listbox aria-label="Trending selection">
            <div *ngFor="let chip of chips;" >
                <mat-chip-option *ngIf="chip.name === selectedChip.name" selected (click)="switchFeed(chip.name)">{{chip.name}}</mat-chip-option>
                <mat-chip-option *ngIf="chip.name !== selectedChip.name" (click)="switchFeed(chip.name)">{{chip.name}}</mat-chip-option>
            </div>
        </mat-chip-listbox>
    </div>
    <div *ngIf="loading">
        <app-loading></app-loading>
    </div>
    <div *ngIf="!loading">
        <div [hidden]="selectedChip.name !== 'Notes'">
            <div class="feed" *ngFor="let post of posts">
                <app-post [post]="post"></app-post>
            </div>
        </div>
        <div [hidden]="selectedChip.name !== 'Profiles'">
            <div class="users-container" *ngFor="let user of users">
                <app-listed-user [user]="user" routerLink="/users/{{user.pubkey|npub}}"></app-listed-user>
            </div>
        </div>
    </div>
</div>
