mat-form-field {
    width: 100%;
}

.hide-me {
    display: none;
}

.preview { 
    margin-bottom: 1em;
}

.createNote {
    width: 100%;
    height: 5.5em;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none; /*remove the resize handle on the bottom right*/
    color: black;
    touch-action: manipulation;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    display: block;
}

.mat-input-element {
    font-size: medium;
    font-weight: 200;
}

#fileInput {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
    height: 100%;
    left: 0px;
    top: 0px;
}

.mat-toolbar-single-row {
    height: auto !important;
    background: transparent;
    padding: 0;
}

.mat-toolbar-single-row button {
    width: 100px;
}

.npub {
    color: purple;
}

mat-card-header img {
    margin-bottom: 2px !important;
    margin-top: 2px !important;
}

.header-image {
    background-size: cover;
    border: 1px solid #2196f3;
}

.username {
    margin-top: 2px;
    color: purple;
}

.post-content {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: lighter;
    overflow-wrap: break-word;
    padding-bottom: 1em;
}

.extras {
    color:cornflowerblue;
    font-size: small;
}

.npub:hover {
    cursor: pointer;
}

.replyingTo {
    color: #2196f3;
}

.replyingTo:hover {
    cursor: pointer;
}

.replyingTo:focus {
    outline: none;
    border: 0;
}

.hashtag {
    color: purple;
}

.hashtag:hover {
    cursor: pointer;
}

.userTag {
    color: purple;
}

img {
    margin-top: 1em;
    background-size: cover;
    border: 1px solid #2196f3;
    max-height:100%;
    max-width:100%;
}

video {
    margin-top: 1em;
    background-size: cover;
    border: 1px solid #2196f3;
    max-height:100%;
    max-width:100%;
}

.post {
    margin-bottom: 4px;
}

mat-form-field {
    width: 100%;
}

.gif-preview {
    max-height: 100%;
    width: 100%;
    
}

.gif-header {
    text-align: center;
}

mat-grid-tile {
    border-radius: 5px 5px 5px 5px;
}