<div class="router-container">
    <br>
    <div *ngIf="user">
        <mat-form-field appearance="outline">
            <mat-label>Textarea</mat-label>
            <textarea matInput [(ngModel)]="content" placeholder="content"></textarea>
        </mat-form-field>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>GIF search</mat-label>
                <input matInput [(ngModel)]="gifSearch" placeholder="GIF">
            </mat-form-field>
            
        </p>
        <p>
            <mat-divider></mat-divider>
        </p>
        <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <button mat-fab extended (click)="searchGif()">Search Gif</button>
            <button mat-stroked-button (click)="sendEvent()">Send</button>
        </div>
    </div>
    <div *ngIf="gifsFound.length > 0">
        <div class="gif-header">
            <p>click a gif to add</p>
        </div>
        <p>
            <mat-divider></mat-divider>
        </p>
        <mat-grid-list cols="4" rowHeight="100px">
            <mat-grid-tile
                *ngFor="let g of gifsFound"
                [colspan]="1"
                [rowspan]="1">
                <div (click)="addGifToPostContent(g)">
                    <img class="gif-preview" src="{{g}}" />
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

</div>
