.current-input {
    font-size: 30px;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.keypad-row {
    padding-bottom: 1em;
}

.wallet-input {
    padding-top: 2em;
    overflow: hidden !important;
}

.balance-container {
    text-align: center;
}

.qr-code-container {
    text-align: center;
    padding-top: 2em;
}

.icon-display {
    transform: scale(2);
}