.current-input {
    font-size: 30px;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.keypad-row {
    padding-bottom: 1em;
}

.wallet-info {
    padding-top: 1.5em;
}

.wallet-input {
    padding-top: 2em;
    overflow: hidden !important;
}

.balance-container {
    text-align: center;
}

.balance {
    color: #000000;
    font-size: 25px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}

.button-container {
    text-align: center;
    padding-top: 2em;
}

.icon-display {
    transform: scale(2);
}

.button-number {
    font-size: 20px;
}

.keypad-button {
    margin-bottom: 1em;
}