<div class="wallet-input">
    <div *ngIf="!scanQR">
        <div class="keypad-container">
            <div class="current-input">
                {{currentInput | keyboard}} sats
            </div>
            <div class="keypad">
                <div class="keypad-row" fxLayout="row" fxLayoutAlign="space-evenly center">
                    <button mat-button (click)="changeNumber('1')">1</button>
                    <button mat-button (click)="changeNumber('2')">2</button>
                    <button mat-button (click)="changeNumber('3')">3</button>
                </div>
                <div class="keypad-row" fxLayout="row" fxLayoutAlign="space-evenly center">
                    <button mat-button (click)="changeNumber('4')">4</button>
                    <button mat-button (click)="changeNumber('5')">5</button>
                    <button mat-button (click)="changeNumber('6')">6</button>
                </div>
                <div class="keypad-row" fxLayout="row" fxLayoutAlign="space-evenly center">
                    <button mat-button (click)="changeNumber('7')">7</button>
                    <button mat-button (click)="changeNumber('8')">8</button>
                    <button mat-button (click)="changeNumber('9')">9</button>
                </div>
                <div class="keypad-row" fxLayout="row" fxLayoutAlign="space-evenly center">
                    <button mat-button (click)="changeNumber('.')">.</button>
                    <button mat-button (click)="changeNumber('0')">0</button>
                    <button mat-button (click)="changeNumber('backspace')">&lsaquo;</button>
                </div>
            </div>
            <div class="action-buttons" fxLayout="row" fxLayoutAlign="space-evenly center">
                <button mat-stroked-button (click)="recieve()">Receive</button>
                <button mat-stroked-button (click)="send()">&nbsp;&nbsp;Send&nbsp;&nbsp;</button>
            </div>
        </div>
        <div class="balance-container">
            <p>Available Balance</p>
            <div *ngIf="balance" class="current-balance">{{balance.balance}} {{balance.currency}}</div>
        </div>
    </div>
    <div class="qr-code-container">
        <p *ngIf="qrResultString">{{qrResultString}}</p>
        <button mat-icon-button color="primary" (click)="openQRScanner()">
            <mat-icon class="icon-display">qr_code_scanner</mat-icon>
        </button>
        <p>scan QR code</p>
    </div>
    <div *ngIf="scanQR" class="qr-code-scanner">
        <zxing-scanner
        [formats]="allowedFormats"
        (scanSuccess)="scanSuccessHandler($event)"
        ></zxing-scanner>
    </div>
</div>
