<div class="router-container">
    <h1>Contacts</h1>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Filter contacts</mat-label>
            <input matInput [(ngModel)]="filterText">
        </mat-form-field>
    </p>
    <button mat-fab extended color="primary" (click)="filterContacts()">Filter</button>
    <p>
        <mat-divider></mat-divider>
    </p>
    <p *ngFor="let user of displayedUsers">
        <mat-card routerLink="/messages/{{user.npub}}">
            <mat-card-header>
                <img 
                    *ngIf="user.picture"
                    class="header-image"
                    mat-card-avatar
                    src="{{user.picture}}"/>
              <mat-card-title>{{user.displayName}}</mat-card-title>
              <mat-card-subtitle class="npub" >{{user.npub|ellipsis}}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </p>
    <div *ngIf="loading">
        <app-loading></app-loading>
    </div>
</div>
