<div class="router-container">
    <div *ngIf="!loading">
        <div *ngIf="!user" class="no-profile-yet">
            <p class="title-container">
                <small class="subtitle">{{welcomeMessage}}</small>
            </p>
            <p>
                <button mat-fab extended color="primary" routerLink="/profile-edit">Create Profile</button>
            </p>
            <p>
                <button mat-fab extended color="explore" routerLink="/feed">Explore Nostr</button>
            </p>
            <p>
                <button mat-fab extended color="accent" (click)="signOut()">Sign Out</button>
            </p>
        </div>
        <div *ngIf="user" class="banner">
            <img class="banner-image" src="{{user.banner}}"/>
        </div>
        <div *ngIf="user">
            <app-user [user]="user"></app-user>
        </div>
        <div *ngFor="let post of posts">
            <app-post [post]="post"></app-post>
        </div>
    </div>
    <div *ngIf="loading">
        <app-loading></app-loading>
    </div>
</div>