.message {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: lighter;
}

.npub {
    color: purple;
}

mat-form-field {
    width: 100%;
}

.sent-message {
    color: blue;
}

.messages-container {
    max-height: 90vh;
    overflow-y: scroll;
}

.small-screen-footer-nav-bar {
    position: fixed;
    left: 0;
    bottom: 48px;
    width: 100%;
    z-index: 10;
}

.footer-nav-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

.extra-bottom {
    margin-bottom: 105px;
}