<div class="container">
    <div #scrollMe [scrollTop]="scrollMe.scrollHeight" class="messages-container">
        <div class="messages" *ngFor="let message of messages">
            <mat-card>
                <mat-card-header *ngIf="message.npub" class="sent-message">
                        <img 
                            *ngIf="me && me.picture && me.npub === message.npub"
                            class="header-image"
                            mat-card-avatar
                            src="{{me.picture}}"
                            routerLink="/users/{{message.npub}}"
                        />
                        <img 
                            *ngIf="friend && friend.picture && friend.npub === message.npub"
                            class="header-image"
                            mat-card-avatar
                            src="{{friend.picture}}"
                            routerLink="/users/{{message.npub}}"
                        />
                        <mat-card-subtitle class="npub">{{message.npub|username}}</mat-card-subtitle>
                        <mat-card-subtitle>{{message.createdAt|humantime}}</mat-card-subtitle>
                </mat-card-header>
                <div class="message-content">
                    <p class="message" [innerHTML]="message.content | safe" (click)="processLinks($event)"></p>
                </div>
            </mat-card>
        </div>

    </div>
    <div *ngIf="smallScreen">
        <mat-form-field class="small-screen-footer-nav-bar">
            <div>
                <mat-toolbar class="mat-toolbar-single-row">
                    <input class="mat-input-element" id="messageInput" matInput [(ngModel)]="content" placeholder="content"/>
                    <button mat-icon-button color="primary" (click)="sendEvent()">
                        <mat-icon>send</mat-icon>
                    </button>
                </mat-toolbar>
            </div>
        </mat-form-field>
    </div>
    <div *ngIf="!smallScreen">
        <mat-form-field class="footer-nav-bar">
            <div>
                <mat-toolbar class="mat-toolbar-single-row">
                    <input class="mat-input-element" id="messageInput" matInput [(ngModel)]="content" placeholder="content"/>
                    <button mat-icon-button color="primary" (click)="sendEvent()">
                        <mat-icon>send</mat-icon>
                    </button>
                </mat-toolbar>
            </div>
        </mat-form-field>
    </div>
</div>
