<div class="router-container">
    <div class="search-header">
        <div class="search-div" fxLayout="row">
            <mat-form-field appearance="outline">
                <mat-label>Search hastags..</mat-label>
                <input matInput placeholder="search" [(ngModel)]="search">
            </mat-form-field>
            <button mat-fab color="primary" (click)="submit()">
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </div>
    <div *ngIf="!loading" class="search-notes-container">
        <mat-divider></mat-divider>
        <div *ngFor="let searchPost of searchPosts">
            <app-post [post]="searchPost"></app-post>>
        </div>
    </div>
    <div *ngIf="loading">
        <app-loading></app-loading>
    </div>
</div>
