.search-header {
    padding-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.search-div {
    margin: 0;
    padding: 0;
}

.search-notes-header {
    margin-left: 1em;
    margin-bottom: 1em;
}

.search-notes-container {
    
}

mat-form-field {
    width: 100%;
    margin-right: 1.5em;
}

.tradingview-widget-container {
    padding-bottom: 1em;
}

.widget-container {
    height: 280px;
}