.npub {
    color: purple;
}

mat-card-header img {
    margin-bottom: 2px !important;
    margin-top: 2px !important;
}

.header-image {
    background-size: cover;
    border: 1px solid #2196f3;
}

.username {
    margin-top: 2px;
    color: purple;
}

.post-content {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: lighter;
    overflow-wrap: break-word;
    padding-bottom: 1em;
}

.extras {
    color:cornflowerblue;
    font-size: small;
}

.npub:hover {
    cursor: pointer;
}

.replyingTo {
    color: #2196f3;
}

.replyingTo:hover {
    cursor: pointer;
}

.replyingTo:focus {
    outline: none;
    border: 0;
}

.hashtag {
    color: purple;
}

.hashtag:hover {
    cursor: pointer;
}

img {
    margin-top: 1em;
    background-size: cover;
    border: 1px solid #2196f3;
    max-height:100%;
    max-width:100%;
}

video {
    margin-top: 1em;
    background-size: cover;
    border: 1px solid #2196f3;
    max-height:100%;
    max-width:100%;
}

.post {
    max-width: 500px;
    margin-bottom: 4px;
}

mat-form-field {
    width: 100%;
}
