mat-card {
    box-shadow: none !important;
}

.more-vert {
    margin-right: 0;
    margin-left: auto;
}
.npub {
    color: purple;
}

mat-card-header img {
    margin-bottom: 2px !important;
    margin-top: 2px !important;
}

.header-image {
    background-size: cover;
    border: 1px solid #2196f3;
}

.username {
    margin-top: 2px;
    color: purple;
}

.post-content {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: lighter;
    overflow-wrap: break-word;
    padding-bottom: 1em;
}

.extras {
    color:cornflowerblue;
    font-size: small;
}

.extras:hover {
    cursor: pointer;
}

.npub:hover {
    cursor: pointer;
}

.replyingTo {
    color: #2196f3;
}

.replyingTo:hover {
    cursor: pointer;
}

.replyingTo:focus {
    outline: none;
    border: 0;
}

.hashtag {
    color: purple;
}

.hashtag:hover {
    cursor: pointer;
}

img {
    margin-top: 1em;
    background-size: cover;
    max-height:100%;
    max-width:100%;
}

video {
    margin-top: 1em;
    background-size: cover;
    max-height:100%;
    max-width:100%;
}

.post {
    margin-bottom: 4px;
}

mat-form-field {
    width: 90%;
}

.lnInvoice {
    padding: 2em;
    word-wrap: break-word;
}

.lnInvoice:hover {
    cursor: pointer;
}

.qrcode {
    text-align: center;
}

.invoice-title {
    text-align: center;
}

.invoice {
    margin-bottom: 1em;
}

.icon-actions {
    font-size: 10px;
}

.lightning-invoice {
    padding-top: 1em;
    border: 1px solid darkorange;
    border-radius: 5px;
}

.lightning-invoice p {
    margin-left: 1em;
    margin-right: 1em;
}

.lightning-title {
    
    margin-left: 1em;
    font-size: large;
    font-weight: bold;;
}