/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Courier New', Courier, monospace; }
.router-container { margin-top: 4em; margin-left: 1em; margin-right: 1em; padding-bottom: 5em;}
