/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Courier New', Courier, monospace; }

@media (max-width: 400px) {
    .router-container { 
        width: 45%;
        margin-top: 3.5em;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 5em;
    }
}


.router-container { 
    width: 100%;
    margin-top: 50px;
    padding-bottom: 5em;
}